
body,input{
    font-family: 'Poppins', 'sans-serif';
}

.part1{
    position: absolute;
    height: 100%;
    width: 22%;
    top: 0%;
    left: 0%;
    border-right: 2px solid black;
    
    
    
}

.part2{  
    position: absolute;
    height: 100%;
    width: 53%;
    top: 0%;
    left: 22%;
    border-right: 2px solid black;  
    overflow-y: auto;
    scroll-behavior: smooth;     
}

::-webkit-scrollbar{
    display: none;
}


.part3{
    position: absolute;
    height: 100%;
    width: 22%;
    top: 0;
    left: 78% ;
}

 .icons{
   height: 45%;
   width: 85%;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-left: 5%;   
}

.iconText{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    border: none;
    outline: none;   
    background-color: #fff;
    cursor: pointer;
    border-radius: 50px;
    height: 60px;
    padding: 25px;    
}

.iconText:hover{
    background-color: #e4e4e4;
}

.text{
    font-family: 'Poppins','sans-serif';
    font-weight: 600;
    margin-left: 10%;
    text-align: left;
    font-size: 1.5rem;    
}

.logo{
    height: 130px;
    margin-left: 25px;
    margin-top: 5%;

}

.userProfile{
    margin-top: 20%;
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    align-items: center;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.userProfileText{
    font-family: 'Poppins','sans-serif';
    font-size: medium;
    font-weight: normal;
    margin-left: 15px;


}

.profilepic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    
}

.logout{
    width: 300px;
    height: 49px;
    border: 2px solid;
    border-color: #000; 
    border-radius: 49px;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 12%;
    margin-top: 25px;
    transition: .5s;
    background-color: #fff;   
}

.search{
    margin-top: 50px;
    margin-left: 6px;
    width: 320px;
    padding: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 30px;
}

.suggested{
    margin-left: 6px;
    margin-top: 35px;
    width: 320px;
    height: 450px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
    
    
}



.profileHeader{
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.nameBio{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-left: 10px;
}

.pictureProfile{
    display: flex;
    flex-direction: row;
}

.usernamePostnumbers{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 60px;
}

.postsFollowers{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
    
    
}

.pText{
    font-size: 1rem;
    text-align: left;
    margin-left: 20px;

}

.editSettings{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
}

.allPosts{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    height: 1000px;
    background-color: lightgray;
}

.text2{
    font-weight: 500;
    text-align: left;
    font-size: 1.2rem; 
}


.profilepic2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    
}

.userProfileText2{
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 15px;


}

.sugText{
    font-weight: 600;
    margin-left: 18%;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 23px;
    
}

/* list css */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  
  /* .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  } */
  
  .bloc-tabs {
    display: flex;
    
  }
  .tabs {
    transform: translate(0%,50%);
    top: 10%;
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
  }

  .tabs:hover{
    background-color: #f0f0f0;
  }

  /* .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  } */
  
  .active-tabs  {
    background: white;
    color: rgb(125, 51, 194);
    border-bottom: 5px solid rgb(125, 51, 194);
    text-transform: uppercase;
    font-weight: 600;
  }
  
   /* .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }  */
  
  
  
  button {
    border: none;  
  }

  .content-tabs {
    flex-grow : 1;
  }
  
  .content {
    background: white;
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }


/* modal styling only*/

  .modal1{
    display: block;
    background-color: #f0f0f0;
    height: 30%;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(150%,  100%);
    border-radius: 50px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.315)
  }

  .modal2{
    display: block;
    background-color: #f0f0f0;
    height: 40%;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(150%,  60%);
    border-radius: 50px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.315)
  }

  .modal-text{
    color: rgb(0, 0, 0);
    margin: 20px;
    padding-top: 50px;
  }

  .modal-btn1{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    background-color:rgb(125, 51, 194);
    border-radius: 50px;
    width: 30%;    
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.modal-btn1:hover{
  background-color: rgb(180, 58, 204);
}

.modal-btn2{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  width: 30%;    
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.modal-btn2:hover{
  background-color: rgb(44, 44, 44);
}

.modal-btn3{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  background-color:rgb(125, 51, 194);
  border-radius: 50px;
  width: 30%;    
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.modal-btn3:hover{
background-color: rgb(180, 58, 204);
}

.modal-btn4{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  width: 30%;    
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.modal-btn4:hover{
  background-color: rgb(44, 44, 44);
}

.modal-all{
  padding-top: 30px;
  flex-direction: column;
}

.modal-field{
  display: flex;
  margin: 30px;
  justify-content: center;
}

.modal-text-field{
  text-align: left;
}

.modal-input{
  display: flex;
  justify-content: left;
  background-color: #fff;
  border-radius: 50px;
  border: 0px solid rgb(255, 255, 255);
  margin-left: 30px;
  align-items: center;
}

/* homepage mid part css */

.posts-container{
 

}

.post{
  margin: 20px;
  padding: 20px;
  border: 2px solid #000;
  
}

.poster-details{
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  height: 65px;
  align-items: center;
  /* border-bottom: 2px solid #222; */
}

.poster-name{
  margin: 12px;
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}


.post-profilepic{
  margin-left: 10px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 3px solid rgb(125, 51, 194);
}

.post-picture{
  display: flex;
  margin-top: 10px;
  width: 1003.43px;
  height: 1003.43px;
}

.post-icons{
  background-color: #f0f0f0;
  display: flex;
  margin-top: 10px;
}

.icon-button{
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  border: none;
  outline: none; 
  cursor: pointer;
  border-radius: 50px;
  height: 60px;
  padding: 15px;  
  font-size: 1.1rem;  
}

.button-display{
  margin-left: 620px;
  display: flex;
}

.post-caption{
  display: flex;
  margin: 12px;
  font-size: 1.1rem;
}

.caption-username{
  font-weight: 600;
  margin-right: 10px;
}









